{% extends 'base.html' %}
{% load static %}


{% block content %}
<!--<video width="500" height="380" class="center" autoplay loop>
  <source src= "{% static 'Hello.mp4' %}" type="video/mp4">
  Your browser does not support the video tag.
</video>!-->
<div align="middle">
<iframe src="https://giphy.com/embed/DcPfy7StVKeB5dv0ND" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/stickers/simax-deaf-sign-language-gehrlos-DcPfy7StVKeB5dv0ND">via GIPHY</a></p>
</div>
	<div class="form-style" align="middle" >
	<a href="{% url 'animation' %}"><button class="button">Click to Start</button></a>
	</div>
{% endblock %}
